USE [QuanLyKho]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [nvarchar](50) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[MaLoai] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](100) NULL,
	[BaoHanh] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapKho](
	[MaPhieuNhap] [nvarchar](50) NULL,
	[MaHang] [nvarchar](50) NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[MaCTNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaKho] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietXuatKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietXuatKho](
	[MaPhieuXuat] [nvarchar](50) NULL,
	[MaHang] [nvarchar](50) NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[MaCTXuat] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vBaoCaoNhapXuatTon]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vBaoCaoNhapXuatTon] AS
SELECT 
    hh.MaHang,
    hh.TenHang,
    ISNULL(nhap.TongNhap, 0) AS TongNhap,
    ISNULL(xuat.TongXuat, 0) AS TongXuat,
    ISNULL(nhap.TongNhap, 0) - ISNULL(xuat.TongXuat, 0) AS TonKhoTinh
FROM HangHoa hh
LEFT JOIN (
    SELECT MaHang, SUM(ISNULL(SoLuong, 0)) AS TongNhap
    FROM ChiTietNhapKho
    GROUP BY MaHang
) AS nhap ON hh.MaHang = nhap.MaHang
LEFT JOIN (
    SELECT MaHang, SUM(ISNULL(SoLuong, 0)) AS TongXuat
    FROM ChiTietXuatKho
    GROUP BY MaHang
) AS xuat ON hh.MaHang = xuat.MaHang
GO
/****** Object:  Table [dbo].[BaoCaoNXT]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoNXT](
	[MaHang] [nvarchar](50) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[TongNhap] [int] NOT NULL,
	[TongXuat] [int] NOT NULL,
	[TonKhoTinh] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKiemKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKiemKho](
	[MaCTKiem] [int] NOT NULL,
	[MaPhieuKiem] [nvarchar](50) NULL,
	[MaHang] [nvarchar](50) NULL,
	[SoLuongTon] [int] NULL,
	[SoLuongThucTe] [int] NULL,
	[ChenhLech] [int] NOT NULL,
	[LyDo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTKiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaXuatHangHoa]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaXuatHangHoa](
	[MaGiaXuat] [nvarchar](50) NOT NULL,
	[MaHang] [nvarchar](50) NOT NULL,
	[DonGiaXuat]  AS ([DonGiaNhap]*(1.1)) PERSISTED,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa_NhaCungCap]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa_NhaCungCap](
	[MaHang] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[NgayCungCap] [datetime] NOT NULL,
	[GiaCungCap] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC,
	[MaNCC] ASC,
	[NgayCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [nvarchar](50) NOT NULL,
	[TenKho] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienTich] [decimal](18, 2) NOT NULL,
	[NguoiQuanLy] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiemKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemKho](
	[MaPhieuKiem] [nvarchar](50) NOT NULL,
	[MaKho] [nvarchar](50) NULL,
	[NgayKiem] [datetime] NOT NULL,
	[NguoiKiem] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuKiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoai] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[NhomHang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[NguoiDaiDien] [nvarchar](100) NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NULL,
	[MaKho] [nvarchar](50) NULL,
	[NgayNhap] [datetime] NOT NULL,
	[NguoiNhap] [nvarchar](100) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapXuatTon]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapXuatTon](
	[MaHang] [nvarchar](50) NOT NULL,
	[Ngay] [date] NOT NULL,
	[Nhap] [int] NOT NULL,
	[Xuat] [int] NOT NULL,
	[Ton]  AS ([Nhap]-[Xuat]) PERSISTED,
 CONSTRAINT [PK_NhapXuatTon] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC,
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHang](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[MaTonKho] [nvarchar](50) NOT NULL,
	[MaHang] [nvarchar](50) NULL,
	[MaKho] [nvarchar](50) NULL,
	[SoLuong] [int] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[MaTonKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKhoTongHop]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKhoTongHop](
	[MaHang] [nvarchar](50) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[MaKho] [nvarchar](50) NOT NULL,
	[TenKho] [nvarchar](100) NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC,
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatKho]    Script Date: 29/04/2025 4:24:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKho](
	[MaPhieuXuat] [nvarchar](50) NOT NULL,
	[MaKho] [nvarchar](50) NULL,
	[NgayXuat] [datetime] NOT NULL,
	[NguoiXuat] [nvarchar](100) NULL,
	[KhachHang] [nvarchar](100) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] ON 

INSERT [dbo].[ChiTietNhapKho] ([MaPhieuNhap], [MaHang], [SoLuong], [DonGia], [ThanhTien], [MaCTNhap], [MaKho]) VALUES (N'PN003', N'HH001', 1, CAST(25000000.00 AS Decimal(18, 2)), CAST(25000000.00 AS Decimal(18, 2)), 4, NULL)
INSERT [dbo].[ChiTietNhapKho] ([MaPhieuNhap], [MaHang], [SoLuong], [DonGia], [ThanhTien], [MaCTNhap], [MaKho]) VALUES (N'PN004', N'HH001', 1, CAST(25000000.00 AS Decimal(18, 2)), CAST(25000000.00 AS Decimal(18, 2)), 5, NULL)
INSERT [dbo].[ChiTietNhapKho] ([MaPhieuNhap], [MaHang], [SoLuong], [DonGia], [ThanhTien], [MaCTNhap], [MaKho]) VALUES (N'PN005', N'HH001', 1, CAST(25000000.00 AS Decimal(18, 2)), CAST(25000000.00 AS Decimal(18, 2)), 6, NULL)
SET IDENTITY_INSERT [dbo].[ChiTietNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietXuatKho] ON 

INSERT [dbo].[ChiTietXuatKho] ([MaPhieuXuat], [MaHang], [SoLuong], [DonGia], [ThanhTien], [MaCTXuat]) VALUES (N'PX005', N'HH001', 1, CAST(27500000.00 AS Decimal(18, 2)), CAST(27500000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[ChiTietXuatKho] OFF
GO
INSERT [dbo].[GiaXuatHangHoa] ([MaGiaXuat], [MaHang], [DonGiaNhap]) VALUES (N'GX004', N'HH001', CAST(25000000.00 AS Decimal(18, 2)))
INSERT [dbo].[GiaXuatHangHoa] ([MaGiaXuat], [MaHang], [DonGiaNhap]) VALUES (N'GX005', N'HH002', CAST(8000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [MaLoai], [DonViTinh], [XuatXu], [BaoHanh], [HinhAnh], [MoTa]) VALUES (N'HH001', N'iPhone 14', N'LH001', N'Cái', N'Mỹ', 12, N'iphone14.jpg', N'Điện thoại cao cấp')
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [MaLoai], [DonViTinh], [XuatXu], [BaoHanh], [HinhAnh], [MoTa]) VALUES (N'HH002', N'Máy giặt LG', N'LH002', N'Cái', N'Hàn Quốc', 24, N'lg_washer.jpg', N'Máy giặt cửa trước')
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [MaLoai], [DonViTinh], [XuatXu], [BaoHanh], [HinhAnh], [MoTa]) VALUES (N'HH003', N'Gạo ST25', N'LH003', N'Kg', N'Việt Nam', NULL, N'st25.jpg', N'Gạo thơm ngon')
GO
INSERT [dbo].[HangHoa_NhaCungCap] ([MaHang], [MaNCC], [NgayCungCap], [GiaCungCap], [GhiChu]) VALUES (N'HH001', N'NCC001', CAST(N'2024-04-01T00:00:00.000' AS DateTime), CAST(25000000.00 AS Decimal(18, 2)), N'Giá nhập mới nhất cho iPhone 14')
INSERT [dbo].[HangHoa_NhaCungCap] ([MaHang], [MaNCC], [NgayCungCap], [GiaCungCap], [GhiChu]) VALUES (N'HH002', N'NCC002', CAST(N'2024-04-01T00:00:00.000' AS DateTime), CAST(8000000.00 AS Decimal(18, 2)), N'Khuyến mãi máy giặt LG tháng 4')
INSERT [dbo].[HangHoa_NhaCungCap] ([MaHang], [MaNCC], [NgayCungCap], [GiaCungCap], [GhiChu]) VALUES (N'HH003', N'NCC003', CAST(N'2024-04-01T00:00:00.000' AS DateTime), CAST(18000.00 AS Decimal(18, 2)), N'Loại gạo ST25 ngon, thơm, đặc sản')
GO
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi], [DienTich], [NguoiQuanLy], [SoDienThoai], [TrangThai]) VALUES (N'K001', N'Kho Hà Nội', N'123 Đường Láng, Hà Nội', CAST(500.00 AS Decimal(18, 2)), N'Nguyễn Văn A', N'0901234567', 1)
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi], [DienTich], [NguoiQuanLy], [SoDienThoai], [TrangThai]) VALUES (N'K002', N'Kho TP.HCM', N'456 Nguyễn Văn Cừ, TP.HCM', CAST(600.00 AS Decimal(18, 2)), N'Trần Thị B', N'0912345678', 1)
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi], [DienTich], [NguoiQuanLy], [SoDienThoai], [TrangThai]) VALUES (N'K003', N'Kho Đà Nẵng', N'789 Hai Bà Trưng, Đà Nẵng', CAST(300.00 AS Decimal(18, 2)), N'Lê Văn C', N'0923456789', 1)
GO
INSERT [dbo].[KiemKho] ([MaPhieuKiem], [MaKho], [NgayKiem], [NguoiKiem], [TrangThai], [GhiChu]) VALUES (N'PK001', N'K002', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'luân', N'Đang kiểm', N'')
GO
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai], [MoTa], [NhomHang]) VALUES (N'LH001', N'Điện thoại', N'Điện thoại thông minh', N'NH001')
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai], [MoTa], [NhomHang]) VALUES (N'LH002', N'Máy giặt', N'Máy giặt gia đình', N'NH002')
INSERT [dbo].[LoaiHang] ([MaLoai], [TenLoai], [MoTa], [NhomHang]) VALUES (N'LH003', N'Gạo', N'Gạo các loại', N'NH003')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email], [MaSoThue], [NguoiDaiDien], [NgayTao], [TrangThai]) VALUES (N'NCC001', N'Công ty Apple VN', N'Hà Nội', N'0901112223', N'apple@vn.com', N'1234567890', N'Nguyễn Văn X', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email], [MaSoThue], [NguoiDaiDien], [NgayTao], [TrangThai]) VALUES (N'NCC002', N'LG Việt Nam', N'TP.HCM', N'0902223334', N'lg@vn.com', N'2345678901', N'Trần Thị Y', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email], [MaSoThue], [NguoiDaiDien], [NgayTao], [TrangThai]) VALUES (N'NCC003', N'Gạo Việt', N'Cần Thơ', N'0903334445', N'gao@vn.com', N'3456789012', N'Lê Văn Z', CAST(N'2024-01-01T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[NhapKho] ([MaPhieuNhap], [MaNCC], [MaKho], [NgayNhap], [NguoiNhap], [TongTien], [GhiChu], [TrangThai]) VALUES (N'PN003', N'NCC001', N'K001', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'12', CAST(25000000.00 AS Decimal(18, 2)), N'', 0)
INSERT [dbo].[NhapKho] ([MaPhieuNhap], [MaNCC], [MaKho], [NgayNhap], [NguoiNhap], [TongTien], [GhiChu], [TrangThai]) VALUES (N'PN004', N'NCC001', N'K005', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'1', CAST(25000000.00 AS Decimal(18, 2)), N'', 0)
INSERT [dbo].[NhapKho] ([MaPhieuNhap], [MaNCC], [MaKho], [NgayNhap], [NguoiNhap], [TongTien], [GhiChu], [TrangThai]) VALUES (N'PN005', N'NCC001', N'K001', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'luân', CAST(25000000.00 AS Decimal(18, 2)), N'', 0)
GO
INSERT [dbo].[NhomHang] ([MaNhom], [TenNhom], [NgayTao]) VALUES (N'NH001', N'Điện tử', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[NhomHang] ([MaNhom], [TenNhom], [NgayTao]) VALUES (N'NH002', N'Gia dụng', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[NhomHang] ([MaNhom], [TenNhom], [NgayTao]) VALUES (N'NH003', N'Thực phẩm', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[TonKho] ([MaTonKho], [MaHang], [MaKho], [SoLuong], [NgayCapNhat], [DonGia], [TrangThai]) VALUES (N'TK0001', N'HH001', N'K001', 0, CAST(N'2025-04-28T03:22:25.030' AS DateTime), CAST(27500000.00 AS Decimal(18, 2)), N'Hoạt động')
INSERT [dbo].[TonKho] ([MaTonKho], [MaHang], [MaKho], [SoLuong], [NgayCapNhat], [DonGia], [TrangThai]) VALUES (N'TK002', N'HH001', N'K002', 12, CAST(N'2025-04-28T01:44:32.660' AS DateTime), CAST(25000000.00 AS Decimal(18, 2)), N'Hoạt động')
INSERT [dbo].[TonKho] ([MaTonKho], [MaHang], [MaKho], [SoLuong], [NgayCapNhat], [DonGia], [TrangThai]) VALUES (N'TK003', N'HH002', N'K001', 10, CAST(N'2025-04-28T01:45:52.847' AS DateTime), CAST(8000000.00 AS Decimal(18, 2)), N'Hoạt động')
GO
INSERT [dbo].[TonKhoTongHop] ([MaHang], [TenHang], [TenLoai], [DonViTinh], [MaKho], [TenKho], [SoLuong]) VALUES (N'HH001', N'iPhone 14', N'Điện thoại', N'Cái', N'K001', N'Kho Hà Nội', 75)
INSERT [dbo].[TonKhoTongHop] ([MaHang], [TenHang], [TenLoai], [DonViTinh], [MaKho], [TenKho], [SoLuong]) VALUES (N'HH002', N'Máy giặt LG', N'Máy giặt', N'Cái', N'K002', N'Kho TP.HCM', 40)
INSERT [dbo].[TonKhoTongHop] ([MaHang], [TenHang], [TenLoai], [DonViTinh], [MaKho], [TenKho], [SoLuong]) VALUES (N'HH003', N'Gạo ST25', N'Gạo', N'Kg', N'K003', N'Kho Đà Nẵng', 1500)
GO
INSERT [dbo].[XuatKho] ([MaPhieuXuat], [MaKho], [NgayXuat], [NguoiXuat], [KhachHang], [TongTien], [GhiChu]) VALUES (N'PX001', N'K002', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'1', N'luân', CAST(55000000.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[XuatKho] ([MaPhieuXuat], [MaKho], [NgayXuat], [NguoiXuat], [KhachHang], [TongTien], [GhiChu]) VALUES (N'PX002', N'K001', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'1', N'1', CAST(27500000.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[XuatKho] ([MaPhieuXuat], [MaKho], [NgayXuat], [NguoiXuat], [KhachHang], [TongTien], [GhiChu]) VALUES (N'PX003', N'K001', CAST(N'2025-04-19T09:54:03.573' AS DateTime), N'1', N'1', CAST(27500000.00 AS Decimal(18, 2)), N'')
GO
ALTER TABLE [dbo].[NhapKho] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhapXuatTon] ADD  DEFAULT ((0)) FOR [Nhap]
GO
ALTER TABLE [dbo].[NhapXuatTon] ADD  DEFAULT ((0)) FOR [Xuat]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaoCaoNXT]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietKiemKho]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietKiemKho]  WITH CHECK ADD FOREIGN KEY([MaPhieuKiem])
REFERENCES [dbo].[KiemKho] ([MaPhieuKiem])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[NhapKho] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietNhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_Kho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[ChiTietNhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_Kho]
GO
ALTER TABLE [dbo].[ChiTietXuatKho]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietXuatKho]  WITH CHECK ADD FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[XuatKho] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[GiaXuatHangHoa]  WITH CHECK ADD  CONSTRAINT [FK_GiaXuat_HangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[GiaXuatHangHoa] CHECK CONSTRAINT [FK_GiaXuat_HangHoa]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiHang] ([MaLoai])
GO
ALTER TABLE [dbo].[HangHoa_NhaCungCap]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[HangHoa_NhaCungCap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[KiemKho]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[LoaiHang]  WITH CHECK ADD FOREIGN KEY([NhomHang])
REFERENCES [dbo].[NhomHang] ([MaNhom])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NhapXuatTon]  WITH CHECK ADD  CONSTRAINT [FK_NhapXuatTon_Hang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[NhapXuatTon] CHECK CONSTRAINT [FK_NhapXuatTon_Hang]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[TonKhoTongHop]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[TonKhoTongHop]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
